body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(images/fon1.jpg);
}
h1{ color: white;}
form {
    margin: 0 auto;
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82)
}
.group {
    margin: 10 px;
    padding: 5px;
    color: white;
}
.group1 {
    margin: 10 px;
    padding: 5px;
    padding-top: 3em;
}
label {
    padding-left: 10px;
}
input {
   margin-top: 10px ;
   height: 40px ;
   width: 400px;
    border-radius: 20px/20px ;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82)
}
input:focus {
    border: 2px solid #FF2400;
    transform: translateX(15px);
    width: 385px;
}
button {
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82) ;
    border-radius: 20px/20px ;
    font-size: 15px ;

}
.group2 {
    margin: 10 px;
    padding: 5px;
    padding-top: 3.5em;

}